#list_logo .container {
  width: 950px;
  height: 70px;
  overflow: hidden;
  position: relative; }
  #list_logo .container h1 {
    width: 160px;
    height: 70px;
    text-indent: -1000px;
    background: url("../img/logo.png") no-repeat;
    float: left;
    margin-right: 550px;
    cursor: pointer; }
  #list_logo .container p {
    float: left;
    padding-top: 36px; }
  #list_logo .container .p1 {
    margin-right: 16px; }
    #list_logo .container .p1 span {
      font-size: 14px;
      line-height: 14px;
      color: #666666; }
      #list_logo .container .p1 span a {
        color: #0000EE;
        font-size: 14px;
        line-height: 14px; }
  #list_logo .container .p2 a {
    font-size: 13px;
    line-height: 13px;
    color: #0055ac; }
  #list_logo .container img {
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px; }

#list_nav {
  background-color: #bf0000; }
  #list_nav .container {
    height: 44px;
    position: relative; }
    #list_nav .container .box {
      width: 145px;
      height: 44px;
      color: #fff;
      font-size: 12px;
      line-height: 44px;
      text-align: center;
      cursor: pointer;
      float: left; }
    #list_nav .container img {
      float: left; }
    #list_nav .container img:nth-child(3) {
      margin-top: 5px; }
    #list_nav .container img:nth-child(4) {
      margin-top: 5px;
      cursor: pointer; }
    #list_nav .container .box:hover {
      background-color: #b50000; }
    #list_nav .container .box_2 {
      display: none;
      width: 160px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      background-color: #fff;
      padding: 4px 2px;
      z-index: 100;
      position: absolute;
      left: 0px;
      top: 46px; }
      #list_nav .container .box_2 ul .li1 {
        position: relative; }
      #list_nav .container .box_2 ul .li1:hover ul {
        display: block; }
      #list_nav .container .box_2 ul .li2 {
        position: relative; }
      #list_nav .container .box_2 ul .li2:hover ul {
        display: block; }
      #list_nav .container .box_2 ul .li3 {
        position: relative; }
      #list_nav .container .box_2 ul .li3:hover ul {
        display: block; }
      #list_nav .container .box_2 ul .li4 {
        position: relative; }
      #list_nav .container .box_2 ul .li4:hover ul {
        display: block; }
      #list_nav .container .box_2 ul .li5 {
        position: relative; }
      #list_nav .container .box_2 ul .li5:hover ul {
        display: block; }
      #list_nav .container .box_2 ul .li6 {
        position: relative; }
      #list_nav .container .box_2 ul .li6:hover ul {
        display: block; }
      #list_nav .container .box_2 ul .li p {
        height: 28px;
        color: #515151;
        font-size: 12px;
        line-height: 18px;
        padding: 5px 10px; }
      #list_nav .container .box_2 ul .li ul {
        display: none;
        width: 170px;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 4px 2px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        position: absolute;
        left: 155px;
        top: 0px; }
        #list_nav .container .box_2 ul .li ul li {
          height: 28px;
          color: #515151;
          font-size: 12px;
          line-height: 18px;
          padding: 5px 0px 5px 10px; }
        #list_nav .container .box_2 ul .li ul li:hover {
          background-color: #f7f7f7;
          color: #000; }
      #list_nav .container .box_2 ul li:hover {
        color: #bf0000; }

#list_goods .container {
  height: 950px;
  height: 3618px;
  overflow: hidden; }
  #list_goods .container .list_goods_l {
    width: 202px;
    height: 3618px;
    float: left; }
  #list_goods .container .list_goods_r {
    width: 748px;
    height: 3618px;
    float: left; }
    #list_goods .container .list_goods_r .list_goods_r_t {
      width: 800px;
      height: 95px;
      background: url(../img/list_goods_1.png) no-repeat; }
    #list_goods .container .list_goods_r .list_goods_r_nav {
      height: 36px;
      margin: 0 20px;
      border-bottom: 1px solid #ccc; }
      #list_goods .container .list_goods_r .list_goods_r_nav p {
        font-size: 12px;
        line-height: 36px; }
      #list_goods .container .list_goods_r .list_goods_r_nav .goods_price:hover {
        background-color: #bf0000;
        color: #fff; }
      #list_goods .container .list_goods_r .list_goods_r_nav .goods_score:hover {
        background-color: #bf0000;
        color: #fff; }
      #list_goods .container .list_goods_r .list_goods_r_nav .goods_price {
        height: 36px;
        font-size: 12px;
        padding: 0 10px;
        line-height: 36px;
        margin-bottom: -1px;
        border: 1px solid #ccc;
        margin-right: 10px;
        cursor: pointer; }
      #list_goods .container .list_goods_r .list_goods_r_nav .goods_score {
        height: 36px;
        padding: 0 10px;
        font-size: 12px;
        line-height: 36px;
        margin-bottom: -1px;
        border: 1px solid #ccc;
        margin-right: 10px;
        cursor: pointer; }
    #list_goods .container .list_goods_r .list_goods img {
      display: block; }
    #list_goods .container .list_goods_r .list_goods .goods {
      width: 748px;
      height: 100%;
      overflow: hidden; }
      #list_goods .container .list_goods_r .list_goods .goods li:hover {
        background-color: #ececec; }
      #list_goods .container .list_goods_r .list_goods .goods li {
        width: 187px;
        height: 330px;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 20px 16px 0 24px;
        float: left; }
        #list_goods .container .list_goods_r .list_goods .goods li img {
          display: block;
          border: 0 none;
          margin: 0 auto;
          margin-bottom: 5px; }
        #list_goods .container .list_goods_r .list_goods .goods li .p1 {
          height: 32px;
          overflow: hidden;
          text-overflow: ellipsis; }
          #list_goods .container .list_goods_r .list_goods .goods li .p1 a {
            display: inline-block;
            font-size: 12px;
            line-height: 16px;
            color: #0055ac; }
          #list_goods .container .list_goods_r .list_goods .goods li .p1 a:hover {
            text-decoration: underline; }
        #list_goods .container .list_goods_r .list_goods .goods li .p2 {
          font-size: 10px;
          line-height: 30px; }
          #list_goods .container .list_goods_r .list_goods .goods li .p2 span:nth-child(1) {
            color: #bf0000; }
          #list_goods .container .list_goods_r .list_goods .goods li .p2 span:nth-child(2) {
            color: #737373; }
        #list_goods .container .list_goods_r .list_goods .goods li .p3 {
          font-size: 10px;
          line-height: 24px;
          background-color: #f0f0f0;
          padding-left: 10px; }
        #list_goods .container .list_goods_r .list_goods .goods li .p4 {
          padding-top: 5px;
          font-size: 10px;
          line-height: 20px;
          color: #959595; }
          #list_goods .container .list_goods_r .list_goods .goods li .p4 a {
            padding-left: 5px;
            color: #0055ac;
            font-size: 8px;
            line-height: 20px; }
          #list_goods .container .list_goods_r .list_goods .goods li .p4 a:hover {
            text-decoration: underline; }
      #list_goods .container .list_goods_r .list_goods .goods li:nth-last-child(1) {
        margin-right: 0 none; }
    #list_goods .container .list_goods_r .list_goods .page {
      width: 748px;
      height: 46px;
      margin-top: 10px;
      text-align: center; }
      #list_goods .container .list_goods_r .list_goods .page span {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 30px; }
      #list_goods .container .list_goods_r .list_goods .page .active {
        font-weight: 700;
        background-color: #bf0000;
        color: #fff; }
